<br>
<font size=7><center>Pandas Ultimate Summary</center></font>  
<br>   
<font size=5><center>By: <mark>Weicheng Zhang</mark></center></font>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Motivation" data-toc-modified-id="Motivation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Motivation</a></span></li><li><span><a href="#Sturcture-of-this-notebook" data-toc-modified-id="Sturcture-of-this-notebook-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sturcture of this notebook</a></span></li><li><span><a href="#Main" data-toc-modified-id="Main-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Main</a></span><ul class="toc-item"><li><span><a href="#Data-Extraction-数据提取" data-toc-modified-id="Data-Extraction-数据提取-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Data Extraction 数据提取</a></span><ul class="toc-item"><li><span><a href="#By-Label-按标签提取(.loc)" data-toc-modified-id="By-Label-按标签提取(.loc)-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>By Label 按标签提取(.loc)</a></span></li><li><span><a href="#By-Position-按位置提取(.iloc)" data-toc-modified-id="By-Position-按位置提取(.iloc)-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>By Position 按位置提取(.iloc)</a></span></li><li><span><a href="#By-Boolean-布尔提取" data-toc-modified-id="By-Boolean-布尔提取-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>By Boolean 布尔提取</a></span></li><li><span><a href="#Others" data-toc-modified-id="Others-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Others</a></span></li></ul></li><li><span><a href="#Data-Cleaning-数据清理" data-toc-modified-id="Data-Cleaning-数据清理-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Data Cleaning 数据清理</a></span><ul class="toc-item"><li><span><a href="#检测并删除重复值" data-toc-modified-id="检测并删除重复值-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>检测并删除重复值</a></span></li><li><span><a href="#检测/填补/删除空缺值" data-toc-modified-id="检测/填补/删除空缺值-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>检测/填补/删除空缺值</a></span></li><li><span><a href="#文本处理-text-cleanning" data-toc-modified-id="文本处理-text-cleanning-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>文本处理 text cleanning</a></span><ul class="toc-item"><li><span><a href="#去除空白" data-toc-modified-id="去除空白-3.2.3.1"><span class="toc-item-num">3.2.3.1&nbsp;&nbsp;</span>去除空白</a></span></li><li><span><a href="#分列" data-toc-modified-id="分列-3.2.3.2"><span class="toc-item-num">3.2.3.2&nbsp;&nbsp;</span>分列</a></span></li><li><span><a href="#大小写" data-toc-modified-id="大小写-3.2.3.3"><span class="toc-item-num">3.2.3.3&nbsp;&nbsp;</span>大小写</a></span></li><li><span><a href="#replace-替换" data-toc-modified-id="replace-替换-3.2.3.4"><span class="toc-item-num">3.2.3.4&nbsp;&nbsp;</span>replace 替换</a></span></li><li><span><a href="#正则表达式" data-toc-modified-id="正则表达式-3.2.3.5"><span class="toc-item-num">3.2.3.5&nbsp;&nbsp;</span>正则表达式</a></span></li></ul></li><li><span><a href="#变量变换" data-toc-modified-id="变量变换-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>变量变换</a></span><ul class="toc-item"><li><span><a href="#数据映射" data-toc-modified-id="数据映射-3.2.4.1"><span class="toc-item-num">3.2.4.1&nbsp;&nbsp;</span>数据映射</a></span></li><li><span><a href="#数据类型变换" data-toc-modified-id="数据类型变换-3.2.4.2"><span class="toc-item-num">3.2.4.2&nbsp;&nbsp;</span>数据类型变换</a></span></li><li><span><a href="#分组" data-toc-modified-id="分组-3.2.4.3"><span class="toc-item-num">3.2.4.3&nbsp;&nbsp;</span>分组</a></span></li><li><span><a href="#Dummy-variable-哑变量" data-toc-modified-id="Dummy-variable-哑变量-3.2.4.4"><span class="toc-item-num">3.2.4.4&nbsp;&nbsp;</span>Dummy variable 哑变量</a></span></li><li><span><a href="#更改列名" data-toc-modified-id="更改列名-3.2.4.5"><span class="toc-item-num">3.2.4.5&nbsp;&nbsp;</span>更改列名</a></span></li></ul></li><li><span><a href="#Others" data-toc-modified-id="Others-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Others</a></span></li></ul></li><li><span><a href="#数据合并和聚合" data-toc-modified-id="数据合并和聚合-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>数据合并和聚合</a></span><ul class="toc-item"><li><span><a href="#Merge/Join-横向合并" data-toc-modified-id="Merge/Join-横向合并-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Merge/Join 横向合并</a></span><ul class="toc-item"><li><span><a href="#Note-1:-keys-of-2-table-are-different" data-toc-modified-id="Note-1:-keys-of-2-table-are-different-3.3.1.1"><span class="toc-item-num">3.3.1.1&nbsp;&nbsp;</span>Note 1: keys of 2 table are different</a></span></li><li><span><a href="#Note-2:-Duplicated-column-names-列名重复" data-toc-modified-id="Note-2:-Duplicated-column-names-列名重复-3.3.1.2"><span class="toc-item-num">3.3.1.2&nbsp;&nbsp;</span>Note 2: Duplicated column names 列名重复</a></span></li><li><span><a href="#Note-3:-merge-by-index" data-toc-modified-id="Note-3:-merge-by-index-3.3.1.3"><span class="toc-item-num">3.3.1.3&nbsp;&nbsp;</span>Note 3: merge by index</a></span></li></ul></li><li><span><a href="#Concatenate-纵向堆叠" data-toc-modified-id="Concatenate-纵向堆叠-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Concatenate 纵向堆叠</a></span></li><li><span><a href="#Data-Aggregation-聚合" data-toc-modified-id="Data-Aggregation-聚合-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Data Aggregation 聚合</a></span><ul class="toc-item"><li><span><a href="#Group-By" data-toc-modified-id="Group-By-3.3.3.1"><span class="toc-item-num">3.3.3.1&nbsp;&nbsp;</span>Group By</a></span></li><li><span><a href="#Pivot-Table-透视表" data-toc-modified-id="Pivot-Table-透视表-3.3.3.2"><span class="toc-item-num">3.3.3.2&nbsp;&nbsp;</span>Pivot Table 透视表</a></span></li><li><span><a href="#Stack-and-Unstack" data-toc-modified-id="Stack-and-Unstack-3.3.3.3"><span class="toc-item-num">3.3.3.3&nbsp;&nbsp;</span>Stack and Unstack</a></span></li><li><span><a href="#Cross-Tab-交叉表" data-toc-modified-id="Cross-Tab-交叉表-3.3.3.4"><span class="toc-item-num">3.3.3.4&nbsp;&nbsp;</span>Cross Tab 交叉表</a></span></li></ul></li></ul></li><li><span><a href="#Time-Series-Manipulation" data-toc-modified-id="Time-Series-Manipulation-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Time Series Manipulation</a></span></li><li><span><a href="#Pandas-Tricks" data-toc-modified-id="Pandas-Tricks-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Pandas Tricks</a></span><ul class="toc-item"><li><span><a href="#map,-apply-and-applymap" data-toc-modified-id="map,-apply-and-applymap-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>map, apply and applymap</a></span></li><li><span><a href="#Other-useful-functions-其他有用的函数" data-toc-modified-id="Other-useful-functions-其他有用的函数-3.5.2"><span class="toc-item-num">3.5.2&nbsp;&nbsp;</span>Other useful functions 其他有用的函数</a></span></li><li><span><a href="#Operation’s--performance-rank-in-Pandas-运算性能表现" data-toc-modified-id="Operation’s--performance-rank-in-Pandas-运算性能表现-3.5.3"><span class="toc-item-num">3.5.3&nbsp;&nbsp;</span>Operation’s  performance rank in Pandas 运算性能表现</a></span></li></ul></li></ul></li></ul></div>

# Motivation

写这篇文章的目的是加强自己对pandas的理解。看过 Python for Data Analysis（pandas作者的书），各种pandas的函数， pandas和SQL的转换，但是经常出现这些问题：
* 不知道用什么函数
* 知道用什么函数但是不知道怎么调用，调参

# Sturcture of this notebook

这篇文章将从这几个方面总结pandas各种应用：
1. **数据提取和筛选**
2. **数据清理**
3. **数据合并和聚合**
4. **时间序列操作**
5. **其他技巧**

# Main

In [2]:
import numpy as np
import pandas as pd

In [7]:
boolean=[True,False]
gender=["m","f"]
color=["white","black","yellow"]
df=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]})
df.head()

   height  weight  smoker gender  age   color
0     166      42    True      f   43   white
1     161      72    True      m   79   black
2     154      79   False      f   73   black
3     168      56    True      f   32   white
4     164      61   False      f   35  yellow

## Data Extraction 数据提取

### By Label 按标签提取(.loc)

In [14]:
df.loc[2] # Get third row by index 2

height      154
weight       79
smoker    False
gender        f
age          73
color     black
Name: 2, dtype: object

In [16]:
df.loc[:2, ['height','weight']]

   height  weight
0     166      42
1     161      72
2     154      79

In [20]:
df.loc[df.height>188] # = df[df.height>188]

    height  weight  smoker gender  age   color
27     189      62   False      m   40   white
43     189      61   False      m   49  yellow
57     189      40   False      f   64   white
69     189      86   False      f   58   black

### By Position 按位置提取(.iloc)

In [22]:
df.iloc[:5,[2,4]] # Get first 5 rows, third and fifth column

   smoker  age
0    True   43
1    True   79
2   False   73
3    True   32
4   False   35

### By Boolean 布尔提取

In [8]:
# Get white man's info
df[(df.gender=='m') & (df.color=='white')].head()

    height  weight  smoker gender  age  color
13     180      47    True      m   33  white
16     186      50    True      m   32  white
24     182      57   False      m   50  white
27     189      62   False      m   40  white
30     172      85    True      m   54  white

In [10]:
# Get white and black people info
df[df.color.isin(['white','black'])].head()

   height  weight  smoker gender  age  color
0     166      42    True      f   43  white
1     161      72    True      m   79  black
2     154      79   False      f   73  black
3     168      56    True      f   32  white
5     164      60    True      f   49  white

### Others

In [29]:
df.height.nlargest(10) # Get the largest n elements

27    189
43    189
57    189
69    189
12    188
26    188
41    188
75    188
92    188
96    188
Name: height, dtype: int64

In [35]:
df.height.idxmax()

27

In [25]:
df[df.height.between(188,189)] # Interval, inclusive

    height  weight  smoker gender  age   color
12     188      60   False      f   43   white
26     188      73    True      f   48   black
27     189      62   False      m   40   white
41     188      54    True      f   50   black
43     189      61   False      m   49  yellow
57     189      40   False      f   64   white
69     189      86   False      f   58   black
75     188      57   False      m   19  yellow
92     188      53   False      m   57   black
96     188      59    True      f   83   white

In [ ]:
df.column.str.findall() # regular expression applies here

## Data Cleaning 数据清理

### 检测并删除重复值

In [48]:
s = pd.Series([1,2,3,3,4,5,5])
s.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [49]:
s.drop_duplicates()

0    1
1    2
2    3
4    4
5    5
dtype: int64

### 检测/填补/删除空缺值

In [50]:
s = pd.Series([1,np.nan,3,np.nan,5])
s.isnull() # s.notnull()
# s.hasnans() return 1 ture/false

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [51]:
s.fillna(s.mean())

0    1.0
1    3.0
2    3.0
3    3.0
4    5.0
dtype: float64

In [52]:
s.dropna()

0    1.0
2    3.0
4    5.0
dtype: float64

### 文本处理 text cleanning

In [160]:
s = pd.DataFrame(
{
    'ID':['1:0','2:1','3:1','4:0','5:1'], # ID and genger are sticked together
    'Area':['A ', 'B', ' C', 'B  ','a'] # while space and lower-case letter
})
s

    ID Area
0  1:0   A
1  2:1    B
2  3:1    C
3  4:0  B
4  5:1    a

#### 去除空白

In [161]:
s.Area

0     A
1      B
2      C
3    B
4      a
Name: Area, dtype: object

In [162]:
s.Area = s.Area.apply(str.strip)
s.Area

0    A
1    B
2    C
3    B
4    a
Name: Area, dtype: object

#### 分列

In [163]:
id_gender = pd.DataFrame((x.split(':') for x in s.ID),columns=['ID','Gender'], index=s.index)
id_gender

  ID Gender
0  1      0
1  2      1
2  3      1
3  4      0
4  5      1

In [164]:
s = id_gender.merge(s.drop('ID',axis=1),left_index=True, right_index=True )
s

  ID Gender Area
0  1      0    A
1  2      1    B
2  3      1    C
3  4      0    B
4  5      1    a

#### 大小写

In [165]:
s.Area = s.Area.str.upper()

#### replace 替换

In [ ]:
# df.column = df.column.replace(value_to_replace, new_value)

#### 正则表达式

### 变量变换

#### 数据映射

In [167]:
letter_to_city={'A':'Anhui', 'B':'Bejing','C':'Chengdu'}
s.Area = s.Area.map(letter_to_city)
s.Area

0      Anhui
1     Bejing
2    Chengdu
3     Bejing
4      Anhui
Name: Area, dtype: object

#### 数据类型变换

In [168]:
s.ID.astype('object') # 'int'/'float'

0    1
1    2
2    3
3    4
4    5
Name: ID, dtype: object

#### 分组

In [172]:
# customize bins
height_cut_point = [-np.inf,155,185,np.inf]
height_labels = ['short','normal','tall']
pd.cut(df.height,height_cut_point,labels = height_labels).head()

0    normal
1    normal
2     short
3    normal
4    normal
Name: height, dtype: category
Categories (3, object): [short < normal < tall]

In [173]:
# use quantile 分位数
pd.qcut(df.height,3,labels=height_labels).head()

0    normal
1     short
2     short
3    normal
4     short
Name: height, dtype: category
Categories (3, object): [short < normal < tall]

#### Dummy variable 哑变量

In [176]:
pd.get_dummies(df.smoker,prefix='smoker_').head()

   smoker__False  smoker__True
0              0             1
1              0             1
2              1             0
3              0             1
4              1             0

**进阶** -多选题

In [180]:
tmp = pd.DataFrame({'MCQ_1':['A,B,C','B,C','A,C']})
tmp['MCQ_1_A'] = tmp.MCQ_1.str.contains('A')
tmp['MCQ_1_B'] = tmp.MCQ_1.str.contains('B')
tmp['MCQ_1_C'] = tmp.MCQ_1.str.contains('C')
tmp

   MCQ_1  MCQ_1_A  MCQ_1_B  MCQ_1_C
0  A,B,C     True     True     True
1    B,C    False     True     True
2    A,C     True    False     True

#### 更改列名

In [ ]:
# df.columns = [new_list_of_columns]

### Others

## 数据合并和聚合

### Merge/Join 横向合并

In [68]:
"""
pd.merge(df1, df2, on='key' , how='inner/left/right/outer' )

==
df1.join(df2, )
select *
from df1
(left/right/full) join df2
on df1.key = df2.key


"""

"\npd.merge(df1, df2, on='key' , how='inner/left/right/outer' )\n\n==\n\nselect *\nfrom df1\n(left/right/full) join df2\non df1.key = df2.key\n"

#### Note 1: keys of 2 table are different

In [ ]:
# pd.merge(df1, df2, left_on='left_key', right_on='right_key' how='inner/left/right/outer' )

#### Note 2: Duplicated column names 列名重复

In [ ]:
# 添加suffixes即可
# pd.merge(df1,df2,on='key', suffixes=('_left','_right'))

#### Note 3: merge by index

In [ ]:
# 用左表的primary key和右表 index链接
# pd.merger(df1, df2, left_on='left_key', right_index=True)

### Concatenate 纵向堆叠

In [ ]:
"""
pd.concat([df1,df2], axis = 0/1, keys=['df1','df2'])

axis = 0: concatenate vertically 纵向堆叠
keys： identify which part of the table from df1/df2 表明哪部分来自哪个表
"""

### Data Aggregation 聚合

#### Group By

In [77]:
# apply mean() method to selected columns
df.groupby(['gender','smoker'])['height','weight'].mean()

                   height     weight
gender smoker
f      False   172.130435  66.565217
       True    172.478261  66.304348
m      False   173.200000  66.600000
       True    169.291667  60.375000

**进阶用法**

Apply specific/customized function to specific column(s)
对指定列使用指定函数（包括对指定某一列使用多个指定/定制函数）- df.groupby.agg()

In [91]:
# Turn unit of weight from kg to jin and lbs
def kg_to_jin(x):
    return round((2*x).mean(),2)
kg_to_lbs = lambda x: round((x*2.205).mean(),2)b

In [100]:
s_agg = df.groupby(['gender','smoker']).agg({
        'weight':[kg_to_jin,kg_to_lbs]
    })['weight'].reset_index()
s_agg.columns=['gender','smoker','jin','lbs']
s_agg

  gender  smoker     jin     lbs
0      f   False  133.13  146.78
1      f    True  132.61  146.20
2      m   False  133.20  146.85
3      m    True  120.75  133.13

**Other functions 其他常用加总函数**:
    
* max/min/sum/mean/median/mode/var/std
* count - the number of non-null elements/非空元素个数
* size - the number of all elements/所有元素个数

注意:函数放到agg里是要去括号加双引号

#### Pivot Table 透视表

In [129]:
df.pivot_table(index=['gender','color'],values=['height','weight'],columns='smoker',aggfunc='mean')

                   height                 weight
smoker              False       True       False      True
gender color
f      black   175.000000  174.777778  74.500000  73.333333
       white   172.375000  171.888889  53.375000  61.000000
       yellow  170.000000  169.400000  73.000000  63.200000
m      black   173.000000  167.833333  67.142857  55.833333
       white   171.714286  172.200000  63.357143  63.500000
       yellow  175.666667  166.750000  71.222222  59.875000

#### Stack and Unstack

In [182]:
df.pivot_table(index=['gender'],values=['height','weight'],columns='smoker',aggfunc='mean').stack()

                   height     weight
gender smoker
f      False   172.130435  66.565217
       True    172.478261  66.304348
m      False   173.200000  66.600000
       True    169.291667  60.375000

df.stack() stacks the column to rows at level 1 (default). 把level1的column-上上表smoker这一行，变成行-上表smoker这一列。

In [183]:
df.pivot_table(index=['gender'],values=['height','weight'],columns='smoker',aggfunc='mean').stack().unstack(level=0)

            height                 weight
gender           f           m          f       m
smoker
False   172.130435  173.200000  66.565217  66.600
True    172.478261  169.291667  66.304348  60.375

#### Cross Tab 交叉表

In [131]:
pd.crosstab(df.gender,df.smoker)

smoker  False  True
gender
f          23     23
m          30     24

## Time Series Manipulation

## Pandas Tricks

### map, apply and applymap

* map() works on pd.Series
* apply() mworks on pd.Series/pd.DataFrame
* applymap() works on the entire datafrime

### Other useful functions 其他有用的函数

* df.value_counts()
* df.sort_values()
* df.cumsum()
* df.where()
* df.nunique()

### Operation’s  performance rank in Pandas 运算性能表现

1. Vectorization with NumPy arrays
2. Vectorization with Pandas series
3. Looping with apply()
4. Looping with iterrows()
5. Crude looping over DataFrame rows using indices